<h2>Account</h2>

<div *ngIf="backendService.isLoggedIn">
    <p>Username: <span class="text-italic text-bold">{{backendService.username}}</span></p>
    <p>{{valuesService.collections.length}} collection<span *ngIf="valuesService.collections.length !== 1">s</span></p>

    <button type="button" class="btn btn-outline-danger m-2" (click)="logout()">
        <i class="bi bi-box-arrow-right"></i> Logout
    </button>

    <button type="button" class="btn btn-danger m-2" (click)="deleteAccount()">
        <i class="bi bi-trash"></i> Delete account
    </button>
</div>

<div *ngIf="!backendService.isLoggedIn">
    You are not logged in. Visit the <a routerLink="/login">login page</a> to log in.
</div>