<h2 class="mb-2">Home</h2>

<p class="text-left">WisdomKeys is a simple, frontend-only vocabulary learning website that lets you practice your typing speed.</p>
<p class="text-left">Under <a routerLink="/initialize">Initialize</a> you can define your vocabs with the answers. To practice your typing and vocabulary skills, just head to <a routerLink="/practice">Practice</a>!</p>

<h4 class="mt-4">Navigation Hotkeys</h4>
<ul class="hotkeys">
    <li><span class="key">Ctrl</span> + <span class="key">←</span>: <span class="description">Tab to the left</span></li>
    <li><span class="key">Ctrl</span> + <span class="key">→</span>: <span class="description">Tab to the right</span></li>
</ul>